.container{
    max-width: 600px;
    display: flex;
    background-color: darkolivegreen;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

table{

    border-collapse: collapse;
}

table, td, th{

    border: 1px solid black;
}

form{
    margin-bottom: 2rem;
}

.oculto{
    display: none;
}

.visible{
    display: block;
}